<!-- <app-loader [loader]=active></app-loader> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="bg">
    <div class="box">
        <span *ngIf="!valid">this Email Is Not Register</span>
      <h1>LOG IN</h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()" >
        <input class="inp" type="text" formControlName="email" placeholder="User name">
        <input class="inp" type="password" formControlName="pass" placeholder="Password">
        <hr style="border-color: rgba(0,0,0, 0)">
        <button class="btn" type="submit" *ngIf="!btn">Log In</button>
      </form>
    </div>
  </div>